PORT=5000
MONGO_URI=masukkan_mongodb_uri_anda_disini
JWT_SECRET=masukkan_JWT_token_anda

# Kredensial Email Testing (Mailtrap)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=salin_username_dari_mailtrap_kesini
EMAIL_PASS=salin_password_dari_mailtrap_kesini